body, head { backgroung-color : red;
      margin-left : 200px;
      margin-right :200px;
      }


.red-text{ color: red;
      font-family: DejaVu Sans Mono, sans-serif;
      font-size: 70px;
      text-align: center;
      }
      
    .green-text{ color: orange;
        font-family: OCR A Std, monospace;
        font-size: 60px;
      }
    .grey-text{ color: grey;
        font-size: 45px;
        
      }
      p { text-align: center
            font-size: 35px;
          background-color: ;
         }
      a{ text-decoration: underline;
      color : grey;
       }
      a:hover{color: red}
      .red-box {font-size: 35px;
          background-color: red;
          margin: 20px 5px 20px 5px;}
